.ui.toggle.checkbox[class*="right floated"] {
    float: right !important;
    display: inline-block;
    margin-right: 0em !important;
    margin-left: 1em !important;
    margin-top: 0.5em !important;
}

.trackname {
    display: inline-flex;
    overflow: hidden !important;
    text-overflow: clip;   
}